<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="http://www.w3.org/1999/xhtml http://www.w3.org/2002/08/xhtml/xhtml1-transitional.xsd"
                template="/template/base-template.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="htmlHead">
        <meta name="description" content="ReviewMe" />
        <title>ReviewMe - Książki</title>
    </ui:define>

    <ui:define name="main">
        <ui:include src="/edit-dialogs/edit-book-dialog.xhtml"/>
        <h:form id="bookTableForm">
            <p:growl autoUpdate="true" id="editBookGrowl" showDetail="true"/>
            <p:dataTable id="bookDataTable" value="#{books.books}" var="book" >
                <p:column width="20" style="text-align: center;font-size: 18px" headerText="ID">
                    <p:outputLabel value="#{book.id}"/>
                </p:column>
                <p:column style="text-align: center;font-size: 18px" headerText="GRAFIKA">
                    <p:graphicImage value="/image/#{book.positionId.id}"/>
                </p:column>
                <p:column style="text-align: center;font-size: 18px" headerText="TYTUŁ">
                    <p:outputLabel value="#{book.positionId.title}"/>
                </p:column>
                <p:column style="text-align: center;font-size: 18px" headerText="PREMIERA">
                    <p:outputLabel value="#{book.positionId.premiere}">
                        <f:convertDateTime pattern="dd.MM.yyyy" />
                    </p:outputLabel>
                </p:column>
                <p:column style="text-align: center;font-size: 18px" headerText="GATUNKI">
                    <p:outputLabel value="#{book.positionId.genresString()}"/>
                </p:column>
                <p:column style="text-align: center;font-size: 18px" headerText="AUTOR">
                    <p:outputLabel value="#{book.authorId.name}"/>
                </p:column>
                <p:column style="text-align: center;font-size: 18px" headerText="ŚREDNIA OCEN">
                    <p:outputLabel value="#{book.positionId.averageRating}"/>
                </p:column>
                <p:column width="5%" style="text-align: center;font-size: 18px" headerText="EDYCJA">
                    <p:commandButton icon="ui-icon-edit" action="#{books.edit(book)}" process="@form" update="editBookDialog"/>
                </p:column>
                <p:column width="6%" style="text-align: center;font-size: 18px" headerText="RECENZJE">
                    <p:commandButton icon="ui-icon-bookmark" action="#{books.reviews(book)}"/>
                </p:column>
                <p:column width="6%" style="text-align: center;font-size: 18px" headerText="ZATWIERDŹ">
                    <p:commandButton icon="ui-icon-check" action="#{books.accept(book)}" rendered="#{!book.positionId.accepted}" update="bookTableForm:bookDataTable"/>
                </p:column>
                <p:column width="5%" style="text-align: center;font-size: 18px" headerText="ODRZUĆ">
                    <p:commandButton icon="ui-icon-minus" action="#{books.decline(book)}" rendered="#{!book.positionId.accepted}" update="bookTableForm:bookDataTable"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>

</ui:composition>