<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="http://www.w3.org/1999/xhtml http://www.w3.org/2002/08/xhtml/xhtml1-transitional.xsd"
                template="/template/base-template.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="htmlHead">
        <meta name="description" content="ReviewMe" />
        <title>ReviewMe - Producenci</title>
    </ui:define>

    <ui:define name="main">
        <ui:include src="/edit-dialogs/add-company-dialog.xhtml"/>
        <h:form id="companyTableForm">
            <p:growl autoUpdate="true" id="companyGrowl" showDetail="true"/>
            <p:commandButton icon="ui-icon-plus" action="#{companies.openAddDialog()}" update="addCompanyDialog"/>
            <p:dataTable value="#{companies.companies}" var="company" >
                <p:column width="20" style="text-align: center;font-size: 18px" headerText="ID">
                    <p:outputLabel value="#{company.id}"/>
                </p:column>
                <p:column style="text-align: center;font-size: 18px" headerText="NAZWA">
                    <p:outputLabel value="#{company.name}"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>

</ui:composition>