<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="http://www.w3.org/1999/xhtml http://www.w3.org/2002/08/xhtml/xhtml1-transitional.xsd"
                template="/template/base-template.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="htmlHead">
        <meta name="description" content="ReviewMe" />
        <title>ReviewMe - Recenzje</title>
    </ui:define>

    <ui:define name="main">
        <div>
            <p:outputLabel value="#{filmReviews.position.title}"/>
        </div>
        <h:form id="filmReviewTableForm">
            <p:growl autoUpdate="true" id="editFilmReviewGrowl" showDetail="true"/>
            <p:dataTable id="filmReviewDataTable" value="#{filmReviews.reviews}" var="review" >
                <p:column style="text-align: center;font-size: 18px" headerText="RECENZJA">
                    <p:outputLabel value="#{review.review}"/>
                </p:column>
                <p:column style="text-align: center;font-size: 18px" headerText="UŻYTKOWNIK">
                    <p:outputLabel value="#{review.userId.login}"/>
                </p:column>
                <p:column width="80" style="text-align: center;font-size: 18px" headerText="USUŃ">
                    <p:commandButton icon="ui-icon-edit" action="#{filmReviews.delete(review)}" update="filmReviewTableForm:filmReviewDataTable"/>
                </p:column>
            </p:dataTable>
        </h:form>
        <f:metadata>
            <f:viewParam name="positionID" value="#{films.filmReviewsId}" />
        </f:metadata>
    </ui:define>

</ui:composition>