<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="http://www.w3.org/1999/xhtml http://www.w3.org/2002/08/xhtml/xhtml1-transitional.xsd"
                template="/template/base-template.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="htmlHead">
        <meta name="description" content="ReviewMe" />
        <title>ReviewMe - Gry</title>
    </ui:define>

    <ui:define name="main">
        <ui:include src="/edit-dialogs/edit-game-dialog.xhtml"/>
        <h:form id="gameTableForm">
            <p:growl autoUpdate="true" id="editGameGrowl" showDetail="true"/>
            <p:dataTable id="gameDataTable" value="#{games.games}" var="game" >
                <p:column width="20" style="text-align: center;font-size: 18px" headerText="ID">
                    <p:outputLabel value="#{game.id}"/>
                </p:column>
                <p:column style="text-align: center;font-size: 18px" headerText="GRAFIKA">
                    <p:graphicImage value="/image/#{game.positionId.id}"/>
                </p:column>
                <p:column style="text-align: center;font-size: 18px" headerText="TYTUŁ">
                    <p:outputLabel value="#{game.positionId.title}"/>
                </p:column>
                <p:column style="text-align: center;font-size: 18px" headerText="PREMIERA">
                    <p:outputLabel value="#{game.positionId.premiere}">
                        <f:convertDateTime pattern="dd.MM.yyyy" />
                    </p:outputLabel>
                </p:column>
                <p:column style="text-align: center;font-size: 18px" headerText="GATUNKI">
                    <p:outputLabel value="#{game.positionId.genresString()}"/>
                </p:column>
                <p:column style="text-align: center;font-size: 18px" headerText="WYDAWCA">
                    <p:outputLabel value="#{game.publisherId.name}"/>
                </p:column>
                <p:column style="text-align: center;font-size: 18px" headerText="PRODUCENT">
                    <p:outputLabel value="#{game.companyId.name}"/>
                </p:column>
                <p:column style="text-align: center;font-size: 18px" headerText="ŚREDNIA OCEN">
                    <p:outputLabel value="#{game.positionId.averageRating}"/>
                </p:column>
                <p:column width="5%" style="text-align: center;font-size: 18px" headerText="EDYCJA">
                    <p:commandButton icon="ui-icon-edit" action="#{games.edit(game)}" process="@form" update="editGameDialog"/>
                </p:column>
                <p:column width="6%" style="text-align: center;font-size: 18px" headerText="RECENZJE">
                    <p:commandButton icon="ui-icon-bookmark" action="#{games.reviews(game)}"/>
                </p:column>
                <p:column width="6%" style="text-align: center;font-size: 18px" headerText="ZATWIERDŹ">
                    <p:commandButton icon="ui-icon-check" action="#{games.accept(game)}" rendered="#{!game.positionId.accepted}"  update="gameTableForm:gameDataTable"/>
                </p:column>
                <p:column width="5%" style="text-align: center;font-size: 18px" headerText="ODRZUĆ">
                    <p:commandButton icon="ui-icon-minus" action="#{games.decline(game)}" rendered="#{!game.positionId.accepted}"  update="gameTableForm:gameDataTable"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>