<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="http://www.w3.org/1999/xhtml http://www.w3.org/2002/08/xhtml/xhtml1-transitional.xsd"
                template="/template/base-template.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="htmlHead">
        <meta name="description" content="ReviewMe" />
        <title>ReviewMe - Użytkownicy</title>
    </ui:define>

    <ui:define name="main">
        <p:growl autoUpdate="true" id="editGameGrowl" showDetail="true"/>
        <ui:include src="/edit-dialogs/edit-password-dialog.xhtml"/>
        <h:form id="userTableForm">
            <p:dataTable id="userDataTable" value="#{users.users}" var="user" >
                <p:column width="20" style="text-align: center;font-size: 18px" headerText="ID">
                    <p:outputLabel value="#{user.id}"/>
                </p:column>
                <p:column style="text-align: center;font-size: 18px" headerText="LOGIN">
                    <p:outputLabel value="#{user.login}"/>
                </p:column>
                <p:column style="text-align: center;font-size: 18px" headerText="ZMIEŃ HASŁO">
                    <p:commandButton icon="ui-icon-edit" action="#{users.userChange(user)}"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>

</ui:composition>