<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<p:dialog id="addDirectorDialog" widgetVar="addDirectorDialogWidget"
          modal="true" draggable="false" resizable="false" appendTo="@(body)" 
          closeOnEscape="true" width="600" height="100"
          header="Dodaj"
          xmlns="http://www.w3.org/1999/xhtml"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:p="http://primefaces.org/ui"
          xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="addDirectorDialogPanel" style="width: 100" enctype="multipart/form-data">
        <ui:include src="add-director-config.xhtml">
        </ui:include>
    </h:form>
</p:dialog>
