<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <div>
        <ui:component>
            <p:messages id="gameEditErrors" autoUpdate="true" />
            <p:panelGrid style="width: 100%">
                <p:row>
                    <p:column>
                        <p:outputLabel value="Grafika"/>
                    </p:column>
                    <p:column>
                        <p:fileUpload value="#{games.file}" mode="simple" skinSimple="true"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Tytuł"/>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{games.selectedGame.positionId.title}" style="width: 100%"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Premiera"/>
                    </p:column>
                    <p:column>
                        <p:calendar id="gamesCalendarButton" value="#{games.selectedGame.positionId.premiere}" showOn="button" pattern="dd.MM.yyyy" mask="99.99.9999" style="width: 100%" inputStyle="width: 85%">
                            <f:convertDateTime pattern="dd.MM.yyyy" />
                        </p:calendar>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Gatunki"/>
                    </p:column>
                    <p:column>
                        <p:selectCheckboxMenu id="gameGenresMultipleCheckbox" value="#{games.selectedGame.positionId.genreCollection}" 
                                              label="Genres" multiple="true" 
                                              rendered="#{games.selectedGame ne null}" style="width: 100%"
                                              converter="gameGenresConverter">
                            <f:selectItems value="#{games.genres}" />
                        </p:selectCheckboxMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Wydawca"/>
                    </p:column>
                    <p:column>
                        <h:selectOneMenu value="#{games.selectedGame.publisherId}" style="width: 100%" converter="publishersConverter">
                            <f:selectItems value="#{games.publishers}" />
                        </h:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Producent"/>
                    </p:column>
                    <p:column>
                        <h:selectOneMenu value="#{games.selectedGame.companyId}" style="width: 100%" converter="companiesConverter">
                            <f:selectItems value="#{games.companies}" />
                        </h:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row >
                    <p:column colspan="2" style="text-align: center">
                        <p:commandButton value="Akceptuj" action="#{games.applyEdit()}" update="gameTableForm:gameDataTable" ajax="false"/>
                        <p:commandButton value="Anuluj" action="#{games.closeDialog()}"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </ui:component>
    </div>
</html>
