<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <div>
        <ui:component>
            <p:messages id="filmEditErrors" autoUpdate="true" />
            <p:panelGrid style="width: 100%">
                <p:row>
                    <p:column>
                        <p:outputLabel value="Grafika"/>
                    </p:column>
                    <p:column>
                        <p:fileUpload value="#{films.file}" mode="simple" skinSimple="true"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Title"/>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{films.selectedFilm.positionId.title}" style="width: 100%"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Premiera"/>
                    </p:column>
                    <p:column>
                        <p:calendar id="filmsCalendarButton" value="#{films.selectedFilm.positionId.premiere}" showOn="button" pattern="dd.MM.yyyy" mask="99.99.9999" style="width: 100%" inputStyle="width: 85%">
                            <f:convertDateTime pattern="dd.MM.yyyy" />
                        </p:calendar>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Gatunki"/>
                    </p:column>
                    <p:column>
                        <p:selectCheckboxMenu id="filmGenresMultipleCheckbox" value="#{films.selectedFilm.positionId.genreCollection}" 
                                              label="Genres" multiple="true" 
                                              rendered="#{films.selectedFilm ne null}" style="width: 100%"
                                              converter="filmGenresConverter">
                            <f:selectItems value="#{films.genres}" />
                        </p:selectCheckboxMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Reżyser"/>
                    </p:column>
                    <p:column>
                        <h:selectOneMenu value="#{films.selectedFilm.directorId}" style="width: 100%" converter="directorsConverter">
                            <f:selectItems value="#{films.directors}" />
                        </h:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row >
                    <p:column colspan="2" style="text-align: center">
                        <p:commandButton value="Akceptuj" action="#{films.applyEdit()}" update="filmTableForm:filmDataTable" ajax="false"/>
                        <p:commandButton value="Anuluj" action="#{films.closeDialog()}"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </ui:component>
    </div>
</html>
