<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <div>
        <ui:component>
            <p:messages id="gameEditErrors" autoUpdate="true" />
            <p:panelGrid style="width: 100%">
                <p:row>
                    <p:column>
                        <p:outputLabel value="Nowe hasło:"/>
                    </p:column>
                    <p:column>
                        <p:password value="#{users.selectedUser.password}"/>
                    </p:column>
                </p:row>
                <p:row >
                    <p:column colspan="2" style="text-align: center">
                        <p:commandButton value="Akceptuj" action="#{users.changePassword()}" update="userTableForm:userDataTable"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </ui:component>
    </div>
</html>
