<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="http://www.w3.org/1999/xhtml http://www.w3.org/2002/08/xhtml/xhtml1-transitional.xsd"
                template="/template/base-template.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="htmlHead">
        <meta name="description" content="ReviewMe" />
        <title>ReviewMe - Panel administracyjny</title>
    </ui:define>

    <ui:define name="main">
        <div align="center">
            Witaj w panelu administracyjnym!
        </div>
    </ui:define>

</ui:composition>