<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:p="http://primefaces.org/ui">

    <f:view
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.w3.org/1999/xhtml http://www.w3.org/2002/08/xhtml/xhtml1-transitional.xsd">
        <h:head>
            <title>ReviewMe - Logowanie</title>
            <!--            <link rel="stylesheet" type="text/css" href="resources/css/customStyles.css" />-->
        </h:head>
        <h:body>
            <div align="center">
                <h:form>
                    <p:messages id="loginErrors" autoUpdate="true" />
                    <p:panelGrid styleClass="ui-noborder">
                        <p:row>
                            <p:column>
                                <p:outputLabel value="Login:"/>
                            </p:column>
                            <p:column>
                                <p:inputText value="#{loggedUser.login}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="Hasło"/>
                            </p:column>
                            <p:column>
                                <p:password value="#{loggedUser.password}"/>
                            </p:column>
                        </p:row>
                        <p:row >
                            <p:column colspan="2" style="text-align: center">
                                <p:commandButton  value="Zaloguj" action="#{loggedUser.loginUser}"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </h:form>
            </div>
        </h:body>
    </f:view>

</html>